body {
    background-color: #F5F3ED;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.project__container {
    display: flex;
    justify-content: space-between;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.project__container__item {
    position: relative;
    margin: 20px;
    width: 250px;
    min-height: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: all .5s;
}

.project__container__item .descr {
    text-align: center;
    padding: 10px;
}

.project__container__item a {
    display: block;
    text-decoration: none;
    color: #000;
}

.project__container__item img {
    max-width: 100%;
    position: absolute;
    bottom: 0;
}

.project__container__item:hover {
    transform: scale(1.25);   
}